{% extends 'admin_user/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="content-btn d-flex align-items-center justify-content-evenly">
            <a href="{% url 'register' %}" class="btn btn-primary active">Registrar Pago</a>
            <a  href="{% url 'history' %}" class="btn btn-primary">Historial de Pagos</a>
        </div>

        {% if error %}
            <div class="div-modal">
                <!-- Modal -->
                <div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body message-error d-flex flex-column align-items-center justify-content-center mt-3">
                            <img src="{% static 'core/icons/document-repeated.svg' %}" alt="">
                            <h6 class="text-center">{{error|safe}}</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-danger btn-close-modal-error" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>           
            </div>
        {% endif %}

        {% if other_error %}
            <div class="div-modal">
                <!-- Modal -->
                <div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body message-error d-flex flex-column align-items-center justify-content-center mt-3">
                            <img src="{% static 'core/icons/some_error.svg' %}" alt="">
                            <h6 class="text-center">{{other_error|safe}}</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-warning btn-close-modal-s-error" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>           
            </div>
        {% endif %}

        <h2 class="title-register">REGISTRAR TUS PAGOS</h2>
        <form class="form-register" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="name-user" value="{{request.user.username}}">
            <div class="mb-3">
                <label for="name-user" class="form-label">Nombre de usuario:</label>
                <input id="name-user" class="form-control" type="text" value="{{request.user.first_name}} {{request.user.last_name}}" aria-label="Disabled input " disabled>
            </div>

            <!-- <div class="mb-3">
                <label for="user-month-payment" class="form-label">Mes de pago:</label>
                {{ form.month }}
            </div> -->
            <div class="mb-3">
                <label for="user-month-payment" class="form-label">Mes de pago:</label>
                <select id="user-month-payment" name="month" class="form-select" aria-label="Default select example" required>
                    <option disabled selected>Seleccione mes de pago</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="email_client" class="form-label">Correo electrónico:</label>
                <input type="email" class="form-control" id="email_client" name="email_client" value="{{request.user.email}}" aria-describedby="userEmail Disabled" disabled>
            </div>
            
            <div class="mb-3">
                <label for="user-form-file" class="form-label" name="receipt">Pago escaneado (En formato PDF):</label>
                <input type="file" name="receipt" class="form-control custom-file-input" id="user-form-file">
            </div>

            <button type="submit" class="btn btn-primary">
                <img src="{% static 'core/icons/file-type-pdf.svg' %}" alt="">
                REGISTRAR PAGO
            </button>
        </form>
    </div>

    <script src="{% static 'core/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'core/js/register.js' %}"></script>

    {% if error  or other_error %}
        <script>
            /* SHOW MODAL WHEN THE DOM LOAD */
            const myModal = new bootstrap.Modal(document.getElementById('modalError'), {});
            myModal.show();
        </script>
    {% endif %}
    


{% endblock %}