:root{
    --while-color:#FFFFFF;
    --primary-color:#4FA9F5;
    --text-color:#1F3E72;
    --gray-color:#1F3E72;
    --dark-color:#000000;
    --unpain-color:#D61355;
    --pending-color:#F2D370;

    --font-family:Poppins, sans-serif;
    
    /* FONT SIZE TITLES */
    --h1-bold-poppins-48: 48px;
    --h2-bold-poppins-28: 28px;
    --h3-bold-poppins-24: 24px;
    --h4-bold-poppins-20: 20px;

    /* FONT SIZE BODY */
    --b1-display-bold-poppins-16: 16px;
    --b1-display-poppins-bold: 700;
    --b1-display-medium-poppins-16: 16px;
    --b1-display-poppins-medium: 500;

    --b2-display-bold-poppins-14: 14px;
    --b2-display-poppins-bold: 600;
    --b2-display-medium-poppins-14: 14px;
    --b2-display-poppins-medium: 400;

    --b3-text-bold-poppins-12: 12px;
    --b3-text-poppins-bold: 700;
    --b3-text-semibold-poppins-12: 12px;
    --b3-text-poppins-semibold: 500;
    --b3-text-regular-poppins-12: 12px;
    --b3-text-poppins-regular: 400;
    
    --b4-text-bold-poppins-10: 10px;
    --b4-text-poppins-bold: 700;
    --b4-text-semibold-poppins-10: 10px;
    --b4-text-poppins-semibold: 500;
    --b4-text-regular-poppins-10: 10px ;
    --b4-text-poppins-regular: 400;

    /* UTILITIES */
    --box-sh: 0 0 6px 0 rgba(0,0,0,0.6);

}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: var(--font-family);
}

main{
    width: 100%;
    height: auto;
}

.container-home{
    background-image: linear-gradient(to right, rgba(67, 67, 67, 0.6) 0%, rgba(0,0,0,0.6) 100%),url(../img/bg-home.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
}

/* loader*/
  

/* HOME SION SYSTEM-------------------------- */

.container_layout{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_bar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.nav_bar img{
    width: 100px;
}

.nav_links a{
    text-decoration: none;
    color: var(--dark-color);
    padding: 0 8px;
    font-family: var(--h1-bold-poppins-48);
}



.home_layout{
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.home_layout img{
    width: 310px;

}

.text_layout h1{
    margin-top: 25%;
    font-family: var(--h1-bold-poppins-48);
    font-size: 50px;
    line-height: 50px;
}

.text_layout p{
    width: 400px;
    text-align: justify;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons .btn{
    font-family: var(--b1-display-bold-poppins-16);
    justify-content: center;
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    border: var(--while-color) 2px solid;
    border-radius: 8px;
    color: var(--while-color);
}

.buttons .btn:hover{
    background-color: var(--while-color);
    transition: all .3s;
    color: var(--dark-color);
    cursor: pointer;
}

.second_layout{
    width: 100%;
    background-color: var(--while-color);
    height: 700px;
}

.custom-shape-divider-top-1682297910 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1682297910 svg {
    position: relative;
    display: block;
    width: calc(215% + 1.3px);
    height: 356px;
}

.custom-shape-divider-top-1682297910 .shape-fill {
    fill: #FFFFFF;
}

/* END HOME SION SYSTEM-------------------------- */

.btn-while{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .3s;
}

.btn-while:hover{
    border: 1px solid transparent;
    background-color: #fff;
    color: #434343;
    transform: scale(1.05);
}


/* LOGIN */
.bg-screen-h-full{
    height: 100vh;
    background-color: var(--while-color);
}

.content-instructions .img-logo{
    height: 48px;
    width: auto;
}

.content-instructions .title-login{
    font-size: var(--h1-bold-poppins-48);
    color: var(--primary-color);
}

.content-instructions .description-login{
    font-size: var(--b1-display-poppins-16) !important;
    font-weight: var(--b1-display-poppins-bold) !important;
    color: var(--text-color);
}

.content-instructions .img-login{
    width: 80%;
    margin: 0 10%;
    height: auto;
}

.content-login{
    background-color: var(--primary-color);
}

.my-form{
    width: 400px;
    height: 500px;
    background-color: var(--while-color);
    box-shadow: var(--box-sh);
    border-radius: 10px;
}

.my-form .title-form{
    font-size: var(--h3-bold-poppins-24);
    color: var(--text-color);
    font-weight: 600;
}

.my-form .form-control{
    background-color: var(--while-color);
    color: var(--primary-color);
}

.my-form .form-control:not(:placeholder-shown) {
    border-color: var(--primary-color);
}

.my-form .form-check-label{
    color: var(--primary-color);
    font-size: var(--b3-text-poppins-12);
    font-weight: var(--b3-text-poppins-regular);
}

  
.my-form button{
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--while-color);
}

.my-form button:hover{
    border-color:var(--primary-color);
    background-color: var(while-color);
    color:var(--primary-color)
}

/* ------------------ */

/* BASE */
nav{
    border-bottom: 1px solid var(--primary-color);
}

.container img{
    width: auto;
    height: 32px;
}

.text-welcome{
    font-size: var(--b2-display-poppins-bold);
    font-weight: var(--b2-display-poppins-bold);
    color: var(--dark-color);
    margin: 0 1rem 0 0;
}

.text-close-session{
    font-size: var(--b2-display-poppins-bold);
    font-weight: var(--b2-display-poppins-bold);
    color: var(--dark-color); 
    transition: .3s; 
    cursor: pointer;  
    text-decoration: none;
}

.text-close-session:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

/* ------------------ */

/* REGISTER */
.content-btn{
    width: 70%;
    height: auto;
    margin: .7rem auto;
    padding: .7rem;
}

.content-btn a{
    font-size: var(--b1-display-bold-poppins-16);
    font-weight: var(--b1-display-poppins-bold);
    padding: .7rem 5rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
    border-radius: 10px;
}

.content-btn a:hover{
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.content-btn a:active{
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.content-btn a.active{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.title-register{
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
}

.form-register{
    margin-top: 2rem;
    width: 70%;
}

.form-register label{
    color: var(--text-color);
}


.form-register input[disabled] {
    background-color: var(--while-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.form-register select {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.form-register .custom-file-input{
    background-color: var(--while-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.form-register .custom-file-input:hover{
    color: var(--primary-color);
}
  
.form-register .custom-file-input::-webkit-file-upload-button {
    background-color: var(--primary-color);
    color: var(--while-color);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.form-register .custom-file-input::-webkit-file-upload-button:hover {
    background-color: #434343 !important;
    color: #fff !important;
}
  
  

.form-register button{
    font-size: var(--b2-display-bold-poppins-14);
    font-weight: var(--b2-display-poppins-bold);
    padding: .7rem 5rem;
    background-color: var(--primary-color);
    color: var(--while-color);
    margin-top: .5rem;
}

.form-register button:hover{
    background-color: var(--primary-color);
    color: var(--while-color);
}

.form-register button img{
    width: 16px !important;
    height: 16px !important;
}


/* ------------------ */


/* HISTORY */
.table{
    margin-bottom: 0;
}

.table tbody{
    font-weight: var(--b1-display-medium-poppins-16);
}

.table tbody tr{
    background-color: rgba(56, 92, 216, 0.10);
    color:var(--text-color);
}

.table tr:nth-child(even) {
    background-color: var(--while-color);
    color: var(--text-color);
}  

.table thead > tr > th{
    background-color: var(--primary-color) !important;
    color: var(--while-color) !important;
}

.table a.btn{
    font-size: var(--b4-text-semibold-poppins-10);
    background-color: rgba(56, 92, 216, 0.10);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.table tbody tr.unpain{
    background-color: var(--unpain-color);
}

.table tbody tr.pending{
    background-color: var(--pending-color);
}

.table tbody tr.pending  a.btn, .table tbody tr.unpain  a.btn {
    background-color: var(--while-color);
    color: var(--primary-color);
}


/* STYLES MODAL */

.message-succeeded h6{
    font-size: 14px !important;
    font-weight: var(--b3-text-poppins-semibold)!important;
    color: var(--text-color);
}

.message-succeeded h6 span{
    font-size: 16px !important;
    font-weight: var(--b1-display-poppins-bold) !important;
}

.message-succeeded img{
    width: 4rem;
    height: auto;
    margin-bottom:1rem;
}

.btn-close-modal{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: .3s;
}

.btn-close-modal:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transform: scale(1.05);
}

/* STYLES MODAL ERROR*/

.message-error h6{
    font-size: 14px !important;
    font-weight: 500;
    color: var(--text-color);
}

.message-error img{
    width: 4rem;
    height: auto;
    margin-bottom:1rem;
}

.btn-close-modal-error{
    background-color: var(--unpain-color);
    border: 1px solid var(--unpain-color);
    transition: .3s;
}

.btn-close-modal-error:hover{
    background-color: var(--unpain-color);
    border: 1px solid var(--unpain-color);
    transform: scale(1.05);
}

/* STYLES MODAL SOME ERROR */
.btn-close-modal-s-error{
    background-color: var(--pending-color);
    border: 1px solid var(--pending-color);
    color:var(--while-color) !important;
    transition: .3s;
}

.btn-close-modal-s-error:hover{
    background-color: var(--pending-color);
    border: 1px solid var(--pending-color);
    color:var(--while-color) !important;
    transform: scale(1.05);
}

/* NO PAYMENTS */
.no-payments{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no-payments h5{
    color: var(--text-color);
}

.no-payments img{
    width: 4rem;
    height: auto;
    margin: 1.2rem auto;
}


/* RESET VALUES BOOTSTRAP */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* RESPONSIVE */

@media screen and (max-width: 998px) {
    
    .content-btn a{
        padding: 0.7rem 4rem;
        margin: 4px;
    }

    .form-register button{
        margin-bottom: 64px;
    }
    
}


 @media screen and (max-width: 768px){
    
    .content-btn a{
        padding: 0.7rem 2rem;
    }

    .container-fluid{
        flex-direction: column;
        height: 100%;
    }

    .h-100{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .content-login{
        width: 100% !important;
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .content-instructions .title-login{
    font-size: 50px;
    }

    .content-instructions .img-login{
        width: 40%;
    }


}

@media screen and (max-width: 468px) {
    
    .content-btn{
        flex-direction: column;
    }
    
    .content-btn a{
        padding: 0.9rem 0rem;
    }

    .content-instructions .title-login{
        font-size: 32px;
    }

    .my-form{
        width: 316px;

    }

    .px-5{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .form-register{
        margin-top: 0rem;
        width: 90%;
    }

    .form-register button{
        padding: 0.7rem 1rem;
    }

}



