:root{
    --while-color:#FFFFFF;
    --primary-color:#4FA9F5;
    --text-color:#1F3E72;
    --gray-color:#1F3E72;
    --dark-color:#000000;
    --unpain-color:#D61355;
    --pending-color:#F2D370;

    --font-family:Poppins, sans-serif;
    
    /* FONT SIZE TITLES */
    --h1-bold-poppins-48: 48px;
    --h2-bold-poppins-28: 28px;
    --h3-bold-poppins-24: 24px;
    --h4-bold-poppins-20: 20px;

    /* FONT SIZE BODY */
    --b1-display-bold-poppins-16: 16px;
    --b1-display-poppins-bold: 700;
    --b1-display-medium-poppins-16: 16px;
    --b1-display-poppins-medium: 500;

    --b2-display-bold-poppins-14: 14px;
    --b2-display-poppins-bold: 600;
    --b2-display-medium-poppins-14: 14px;
    --b2-display-poppins-medium: 400;

    --b3-text-bold-poppins-12: 12px;
    --b3-text-poppins-bold: 700;
    --b3-text-semibold-poppins-12: 12px;
    --b3-text-poppins-semibold: 500;
    --b3-text-regular-poppins-12: 12px;
    --b3-text-poppins-regular: 400;
    
    --b4-text-bold-poppins-10: 10px;
    --b4-text-poppins-bold: 700;
    --b4-text-semibold-poppins-10: 10px;
    --b4-text-poppins-semibold: 500;
    --b4-text-regular-poppins-10: 10px ;
    --b4-text-poppins-regular: 400;

    /* UTILITIES */
    --box-sh: 0 0 6px 0 rgba(0,0,0,0.6);

}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: var(--font-family);
}

main{
    width: 100%;
    height: auto;
}

.container-home{
    background-image: linear-gradient(to right, rgba(67, 67, 67, 0.6) 0%, rgba(0,0,0,0.6) 100%),url(../img/bg-home.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
}

/* .container-home {
    height: 1px;
} */

.btn-while{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .3s;
}

.btn-while:hover{
    border: 1px solid transparent;
    background-color: #fff;
    color: #434343;
    transform: scale(1.05);
}


/* LOGIN */
.bg-screen-h-full{
    height: 100vh;
    background-color: var(--while-color);
}

.content-instructions .img-logo{
    height: 48px;
    width: auto;
}

.content-instructions .title-login{
    font-size: var(--h1-bold-poppins-48);
    color: var(--primary-color);
}

.content-instructions .description-login{
    font-size: var(--b1-display-poppins-16) !important;
    font-weight: var(--b1-display-poppins-bold) !important;
    color: var(--text-color);
}

.content-instructions .img-login{
    width: 80%;
    margin: 0 10%;
    height: auto;
}

.content-login{
    background-color: var(--primary-color);
}

.my-form{
    width: 400px;
    height: 500px;
    background-color: var(--while-color);
    box-shadow: var(--box-sh);
    border-radius: 10px;
}

.my-form .title-form{
    font-size: var(--h3-bold-poppins-24);
    color: var(--text-color);
    font-weight: 600;
}

.my-form .form-control{
    background-color: var(--while-color);
    color: var(--primary-color);
}

.my-form .form-control:not(:placeholder-shown) {
    border-color: var(--primary-color);
}

.my-form .form-check-label{
    color: var(--primary-color);
    font-size: var(--b3-text-poppins-12);
    font-weight: var(--b3-text-poppins-regular);
}

  
.my-form button{
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--while-color);
}

.my-form button:hover{
    border-color:var(--primary-color);
    background-color: var(while-color);
    color:var(--primary-color)
}

/* ------------------ */

/* BASE */
nav{
    border-bottom: 1px solid var(--primary-color);
}

.container img{
    width: auto;
    height: 32px;
}

.text-welcome{
    font-size: var(--b2-display-poppins-bold);
    font-weight: var(--b2-display-poppins-bold);
    color: var(--dark-color);
    margin: 0 1rem 0 0;
}

.text-close-session{
    font-size: var(--b2-display-poppins-bold);
    font-weight: var(--b2-display-poppins-bold);
    color: var(--dark-color); 
    transition: .3s; 
    cursor: pointer;  
    text-decoration: none;
}

.text-close-session:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

/* ------------------ */

/* REGISTER */
.content-btn{
    width: 70%;
    height: auto;
    margin: .7rem auto;
    padding: .7rem;
}

.content-btn a{
    font-size: var(--b1-display-bold-poppins-16);
    font-weight: var(--b1-display-poppins-bold);
    padding: .7rem 5rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
    border-radius: 10px;
}

.content-btn a:hover{
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.content-btn a:active{
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.content-btn a.active{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.title-register{
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
}

.form-register{
    margin-top: 2rem;
    width: 70%;
}

.form-register label{
    color: var(--text-color);
}


.form-register input[disabled] {
    background-color: var(--while-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.form-register select {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.form-register .custom-file-input{
    background-color: var(--while-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.form-register .custom-file-input:hover{
    color: var(--primary-color);
}
  
.form-register .custom-file-input::-webkit-file-upload-button {
    background-color: var(--primary-color);
    color: var(--while-color);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.form-register .custom-file-input::-webkit-file-upload-button:hover {
    background-color: #434343 !important;
    color: #fff !important;
}
  
  

.form-register button{
    font-size: var(--b2-display-bold-poppins-14);
    font-weight: var(--b2-display-poppins-bold);
    padding: .7rem 5rem;
    background-color: var(--primary-color);
    color: var(--while-color);
    margin-top: .5rem;
}

.form-register button:hover{
    background-color: var(--primary-color);
    color: var(--while-color);
}

.form-register button img{
    width: 16px !important;
    height: 16px !important;
}


/* ------------------ */


/* HISTORY */
.table{
    margin-bottom: 0;
}

.table tbody{
    font-weight: var(--b1-display-medium-poppins-16);
}

.table tbody tr{
    background-color: rgba(56, 92, 216, 0.10);
    color:var(--text-color);
}

.table tr:nth-child(even) {
    background-color: var(--while-color);
    color: var(--text-color);
}  

.table thead > tr > th{
    background-color: var(--primary-color) !important;
    color: var(--while-color) !important;
}

.table a.btn{
    font-size: var(--b4-text-semibold-poppins-10);
    background-color: rgba(56, 92, 216, 0.10);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.table tbody tr.unpain{
    background-color: var(--unpain-color);
}

.table tbody tr.pending{
    background-color: var(--pending-color);
}

.table tbody tr.pending  a.btn, .table tbody tr.unpain  a.btn {
    background-color: var(--while-color);
    color: var(--primary-color);
}


/* RESET VALUES BOOTSTRAP */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

