<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | SION </title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Estilos -->
    <link href="{% static 'core/css/admin-user.css' %}" rel="stylesheet">

  </head>

  <body>

    <main>
      {% block content %} {% endblock %}
    </main>

    <!-- Bootstrap -->
    <script src="{% static 'core/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
