{% extends 'core/base.html' %}
{% load static %}

{% block title %}Planes{% endblock %}

{% block content %}

          <!-- order -->
      <div class="order">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_center mt-5">
                     <h2>¿Estás buscando el mejor plan de internet para ti? <br> <span class="blue_light">¡No busques más!</span></h2>
                     <p>
                        En nuestra empresa contamos con una amplia variedad de planes que se ajustan a tus 
                        necesidades y presupuesto. Desde planes básicos para navegar y enviar correos electrónicos 
                        hasta planes premium para streaming y juegos en línea, tenemos todo lo que necesitas.
                     </p>
                     <p>Cualquier paquete a contratar debe comunicarse al numero: <b>+522491113220</b></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>PAQUETE BASICO</h3>
                        <p>INICIA A SOLO <span>$299</span> AL MES</p>
                        <ul class="supp">
                           <li>10MB</li>
                           <li>Soporta hasta 5 personas</li>
                           <li>Uso domestico</li>
                           <li>Sin limite de uso</li>
                           <li>Soporte las 24/7</li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>PAQUETE FAST</h3>
                        <p>INICIA A SOLO <span>$499</span> AL MES</p>
                        <ul class="supp">
                           <li>30MB </li>
                           <li>Soporta hasta 10 personas</li>
                           <li>Uso domestico</li>
                           <li>Sin limite de uso</li>
                           <li>Soporte las 24/7</li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>PAQUETE ULTRA FAST</h3>
                        <p>INICIA A SOLO <span>$799</span> AL MES</p>
                        <ul class="supp">
                           <li>50MB</li>
                           <li>Soporta hasta 15 personas</li>
                           <li>Uso domestico</li>
                           <li>Sin limite de uso</li>
                           <li>Soporte las 24/7</li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>PAQUETE PRO</h3>
                        <p>INICIA A SOLO <span>$1199</span> AL MES</p>
                        <ul class="supp">
                           <li>100MB</li>
                           <li>Soporta hasta 20 personas</li>
                           <li>Uso domestico</li>
                           <li>Sin limite de uso</li>
                           <li>Soporte las 24/7</li>
                        </ul>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- end order -->
      
{% endblock %}
