{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

          <!-- order -->
      <div class="order">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_center mt-5">
                     <h2>¿Estás buscando el mejor plan de internet para ti? <br> <span class="blue_light">¡No busques más!</span></h2>
                     <p>
                        En nuestra empresa contamos con una amplia variedad de planes que se ajustan a tus 
                        necesidades y presupuesto. Desde planes básicos para navegar y enviar correos electrónicos 
                        hasta planes premium para streaming y juegos en línea, tenemos todo lo que necesitas.
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>Shared Hosting</h3>
                        <p>STARTING  <span>$9</span> PER MONTH</p>
                        <a href="Javascript:void(0)">Personal use</a>
                        <ul class="supp">
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                           <li>Personal use</li>
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>Shared Hosting</h3>
                        <p>STARTING  <span>$9</span> PER MONTH</p>
                        <a href="Javascript:void(0)">Personal use</a>
                        <ul class="supp">
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                           <li>Personal use</li>
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>Reseller Hosting</h3>
                        <p>STARTING  <span>$9</span> PER MONTH</p>
                        <a href="Javascript:void(0)">Personal use</a>
                        <ul class="supp">
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                           <li>Personal use</li>
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>Dedicated Servers</h3>
                        <p>STARTING  <span>$9</span> PER MONTH</p>
                        <a href="Javascript:void(0)">Personal use</a>
                        <ul class="supp">
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                           <li>Personal use</li>
                           <li>Unlimited projects</li>
                           <li>24/7 support</li>
                        </ul>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- end order -->

{% endblock %}